{% extends "base.html" %}
{% block body %}

<div class="container">

<h2>Log in with Flask</h2>
<form action="">
    <input 
    type="text"
    name = 'username' 
    placeholder="username"
    class="input-field">

    <input 
    type="password" 
    name = 'password' 
    placeholder="password"
    class="input-field">

    <input 
    type="submit"
    value="Login"
    class="btn btn-login">
    

    <input 
    type="button" 
    value="Register"
    class = "btn btn-register">

</form>
</div>
{% endblock %}